// PROJECT SPECIFIC VARIABLES BASE

// fonts
// put font import here if not using typekit or google fonts

/*
@font-face {
  font-family: 'Veneer';
  src: url('../fonts/Veneer.woff') format('woff');
}

@font-face {
  font-family: 'ThirstyRough';
  src: url('../fonts/ThirstyRoughLight.woff') format('woff');
}
*/


$font-rh: 'Red Hat Display', sans-serif;
// $font-2: 'Open Sans', sans-serif;
// $font-fa: 'Font Awesome 5 Free';
// 
// 
// // colors
$deep-blue: #252465;
$dark-grey: #1a1a1a;
$grey: #cccccc;
$light-grey: #F7F7F7;
$teal: #00A1BC;
$light-yellow: #fff373;
$pink: #f4989e;

// borders
$border-radius: 10px;

// shadows
$box-shadow: 0px 0px 60px rgba(0,0,0,0.15);


$ease: cubic-bezier(0.77, 0, 0.175, 1); 
