.wp-block-glide-section-block {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	background-color: transparent;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 30px;
	padding-bottom: 30px;

	@include breakpoint(medium){
		padding-top: 75px;
		padding-bottom: 75px;
	}

	&.alignfull{
		max-width: 100%;
		padding-right: 0px;
		padding-left: 0px;
	}

	&.align-middle{
		div{
			align-items: center;
		}
	}

	.container-fluid{
		padding: 0px;
	}

	@media (min-width: 576px) {
		max-width: 540px;

		&.alignwide{
			max-width: 660px;
		}
	}

	@media (min-width: 768px) {
		max-width: 720px;

		&.alignwide{
			max-width: 840px;
		}

	}

	@media (min-width: 992px) {
		max-width: 960px;

		&.alignwide{
			max-width: 1080px;
		}

		&.is-pinched{
			padding-left: calc(6rem + 15px);
			padding-right: calc(6rem + 15px);
		}
	}

	@media (min-width: 1200px) {
		max-width: 1140px;

		&.alignwide{
			max-width: 1260px;
		}

		&.w50{
			max-width: calc(1140px / 2);
		}

		&.w75{
			max-width: calc(1140px / 1.5);
		}
	}

	@media (min-width: 1440px) {
		max-width: 1380px;

		&.alignwide{
			max-width: 1500px;
		}

		&.w50{
			max-width: calc(1380px / 2);
		}

		&.w75{
			max-width: calc(1380px / 1.5);
		}
	}

	@media (min-width: 1200px) {
		.container{
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}

.wp-block-columns {
	&.has-2-columns{
		@include breakpoint(large){
			margin-left: -60px;
			margin-right: -60px;
		}

		.wp-block-column{
			@include breakpoint(large){
				padding-right: 60px;
				padding-left: 60px;
			}

			img{
				width: 100% !important;
			}

			h5{
				margin-bottom: 30px;
			}
		}
	}

	&.has-3-columns{
		figure{
			position: relative;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			display: block;
			content: "";
			width: 100%;
			padding-top: 75%;
			overflow: hidden;
			border-radius: 6px;
			margin: 0px;

			img{
				position: absolute;
				top: 50%;
				bottom: 0;
				left: 50%;
				transform: translate(-50%, -50%);
				width:  auto;
				max-width: 150%;
			}
		}
	}
}

.block-hero-main{
	text-align: center;

	.hero-wrapper{
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		z-index: 0;
		overflow: hidden;
		padding-top: calc(63px + 60px);
		padding-bottom: 60px;

		@include breakpoint(large){
			padding-top: calc(92px + 180px);
			padding-bottom: 180px;
		}

		.container{
			position: relative;
			z-index: 1;
		}

		.hero-image{
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			z-index: 0;
			mix-blend-mode: luminosity;
			opacity: 0.1;
			background-size: cover;
		}
	}

	.spacer{
		position: relative;
		z-index: -1;
		padding-top: 40px;
		padding-bottom: 40px;

		@include breakpoint(large){
			padding-top: 150px;
			padding-bottom: 148px;
		}
	}

	h1{
		text-transform: uppercase;
		color: white;
		font-weight: 700;
		
		@include breakpoint(large){
			font-size: 120px;
			line-height: 120px;
		}
	}
}

.block-hero-full{
	

	.hero-wrapper{
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		z-index: 0;
		overflow: hidden;
		background-color: $deep-blue;
		padding-top: calc(63px + 60px);
		padding-bottom: 60px;
		max-height: 700px;

		@include breakpoint(large){
			padding-top: calc(92px + 180px);
			padding-bottom: 180px;
		}

		.container{
			position: relative;
			z-index: 1;
		}

		.hero-image{
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			z-index: 0;
			mix-blend-mode: luminosity;
			opacity: 0.1;
			background-size: cover;
		}
	}

	.spacer{
		position: relative;
		z-index: -1;
		padding-top: 30px;
		padding-bottom: 60px;
		max-height: 700px;

		@include breakpoint(large){
			padding-top: 150px;
			padding-bottom: 180px;
		}

	}

	h2,p{
		color: white;
	}

	h2{

		@include breakpoint(large){
			font-size: 69px;
		}
	}

	p{

		@include breakpoint(large){
			font-size: 25px;
			width: 75%;
		}
	}
}

.block-side-by-side{
	.col{
		.col-wrapper{
			background-color: $light-grey;
			padding: 60px;

			@include breakpoint(large){
				height: 100%;
			}
			

			h2{
				font-weight: 700;
				text-transform: uppercase;
			}

			p{
				
				@include breakpoint(large){
					font-size: 30px;
					line-height: 40px;
					margin-bottom: 60px;
				}
			}

			.btn{
				border: 2px solid $dark-grey;

			}
		}

		&:last-child{
			.col-wrapper{
				background-color: $dark-grey;
				color: white;

				.btn{
					background-color: transparent;
					border: 2px solid white !important;
				}
			}
		}
	}
}

.block-three-cta{
	padding: 30px 0;

	@include breakpoint(large){
		padding: 60px 0;
	}

	.ctas{
		display: flex;

		.cta-group{
			.wrapper{
				 display: flex;
				 flex-direction: column;
				 box-shadow: 0px 0px 60px rgba(0, 0, 0, .1);
				 height: 100%;
				 border-radius: 6px;
				 overflow: hidden;
				 position: relative;

				 .image-hover{
				 	position: absolute;
				 	top: 0;
				 	right: 0;
				 	bottom: 0;
				 	left: 0;
				 	background-position: center center;
				 	background-size: cover;
				 	opacity: 0;
				 	mix-blend-mode: luminosity;
				 	z-index: -1;
				 	visibility: hidden;
				 }

				.headline{
					background-color: $deep-blue;
					color: white;
					padding: 50px 30px 10px;

					h4{
						font-weight: 600;
					}
				}

				.content{
					padding: 30px;
					flex-grow: 1;
				}

				
				.link{
					display: flex;
					justify-self: flex-end;
					padding: 0 30px 30px;

					a{
						font-weight: 700;
						text-transform: uppercase;
						color: $deep-blue;
						position: relative;
						display: inline-block;
						padding-bottom: 7px;

						&:after{
							content: '';
							position: absolute;
							width: 100%;
							left: 0px;
							bottom: 0px;
							height: 3px;
							border-radius: 6px;
							background-color: $deep-blue;
						}
					}
				}

				&:hover{
					background-color: $deep-blue;
					color: white;

					.image-hover{
						visibility: visible;
						opacity: 0.25;
						z-index: 1;
					}

					.headline{
						background-color: transparent;
					}

					.headline, .content, .link{
						position: relative;
						z-index: 2;
					}

					.link{
						a{
							color: white;
							&:after{
								background-color: white;
							}
						}
					}
				}
			}
		}
	}
}

.block-logo-repeater{
	padding: 0 0 30px 0;

	@include breakpoint(large){
		padding: 60px 0;
	}

	h3{
		text-transform: uppercase;
	}

	.logos{
		display: flex;
		flex-direction: row;
		overflow-x: auto;
		flex-wrap: nowrap;
		align-items: center;
		-webkit-overflow-scrolling: touch;

		@include breakpoint(large){
			justify-content: center;
		}

		&.grey{
			filter: grayscale(100%);
		}

		.logo{
			flex: 0 0 auto;
			padding: 0 30px;
			width: 60%;

			@include breakpoint(large){
				padding: 0 30px;
				width: 12.5%;
			}
		}
	}

	.wp-block-column &{
		padding: 0px;
		
		.logos{
			justify-content: flex-start;
			flex-wrap: wrap;
			margin-right: -15px;
			margin-left: -15px;

			.logo{
				padding: 0 15px;
			}
		}
	}
}

.block-carousel{
	padding: 30px 0;

	@include breakpoint(large){
		padding: 120px 0;
	}
	.swiper-pagination{
		margin-right: -5px;
		margin-left: -5px;
		padding-top: 15px;

		@include breakpoint(large){
			padding-top: 0px;
		}

		.swiper-pagination-bullet{
			width: 15px;
			height: 15px;
			margin-right: 5px;
			margin-left: 5px;
			background-color: white;

			@include breakpoint(large){
				background-color: $dark-grey;
			}
		}

		.swiper-pagination-bullet-active{
			background-color: $teal;
		}
	}

	.wrapper{
		position: relative;
		padding: 0px 15px !important;

		@include breakpoint(large){
			padding: 0px;
		}

		&:before{
			content: '';
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			background-color: $dark-grey;

			@include breakpoint(large){
				top: 60px;
				bottom: 60px;
			}
		}

		.swiper-container{
			padding-top: 60px;
			padding-bottom: 60px;

			@include breakpoint(large){
				padding-top: 0px;
				padding-bottom: 0px;
			}
		}

		.slides{
			display: flex;
			flex-wrap: nowrap;
			-webkit-overflow-scrolling: touch;

			.slide{
				display: flex;
				flex-direction: row;
				align-items: center;
				position: relative;
				flex: 0 0 auto;
				width: 100%;
				justify-content: flex-end;

				&:first-child{
					display: flex;
				}


				.content{
					position: absolute;
					width: 70%;
					left: 0;
					z-index: 2;
					padding: 30px 0;

					@include breakpoint(large){
						width: 60%;
						padding: 90px 0;
					}

					.label{
						text-transform: uppercase;
						background-color: white;
						color: $dark-grey;
						font-weight: 700;

						@include breakpoint(large){
							font-size: 20px;
						}
					}

					h2{
						color: white;
						margin: 20px 0 40px;
					}

					.btn{
						background-color: transparent;
						border: 2px solid white;
						font-size: 14px;

						@include breakpoint(large){
							font-size: 20px;
						}
					}
				}

				.image{
					position: relative;
					z-index: 1;
					width: 50%;
					text-align: right;
					border-radius: 6px;
					overflow: hidden;

					@include breakpoint(large){
						width: 60%;
					}

					figure{
						width: 100%;
					}
				}
			}
		}
	}
}

.block-quote{
	padding: 30px 0;

	@include breakpoint(large){
		padding: 60px 0;
	}

	p{	

		@include breakpoint(large){
			font-size: 25px;
			line-height: 50px;
		}
	}

	.quote{
		position: relative;

		&:before{
			font-weight: 900;		
			font-family: "Font Awesome 5 Free";
			font-size: 200px;
			content: '\f10d';
			color: rgba(0,0,0,0.05);
			position: absolute;
			top: -110px;
			left: -10px;
		}
	}
}

.block-footer-cta{
	padding: 30px 0 0;

	@include breakpoint(large){
		padding: 60px 0 0;
	}

	.wrapper{
		padding: 60px 0;
		background-color: $deep-blue;

		.cta{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			@include breakpoint(large){
				padding: 0 120px;
				flex-direction: row;
				justify-content: space-between;
			}

			.headline{
				margin-bottom: 20px;

				@include breakpoint(large){
					width: 50%;
					margin-bottom: 0px;
				}

				h2{
					color: white;
				}
			}

			.link{
				@include breakpoint(large){
					width: 50%;
					text-align: right;
				}

				.btn{
					background-color: white;
					color: $deep-blue;

					@include breakpoint(large){
						font-size: 40px;
					}
				}
			}

			&.stack{
				flex-direction: column;

				.headline{
					width: 100%;

					h2{
						@include breakpoint(large){
							font-size: 50px;
						}
					}
				}

				.link{
					width: 100%;
					text-align: left;

					@include breakpoint(large){
						padding-top: 30px;
					}
				}
			}

			h2.uppercase{
				text-transform: uppercase;
			}
		}
	}
}

.block-hero-blue{
	display: flex;
	align-items: flex-start;

	@include breakpoint(large){
		align-items: center;
		min-height: 490px;
		padding: 150px 0 90px;
	}

	.container{
		position: relative;
		z-index: 2;
		width: 60%;

		@include breakpoint(medium){
			width: 100%;
		}

		.row{
			align-items: flex-end;

			h2{
				white-space: pre-wrap;
			}

			p{
				@include breakpoint(large){
					font-size: 25px;
					margin-bottom: 0px;
				}
			}

		}

	}

	.blue-box{
		position: relative;
		z-index: 1;
		width: 50%;

		@include breakpoint(medium){
			width: 42.2%;
			position: absolute;
			right: 0;
		}

		.subheader{
			position: absolute;
			left: 30px;
			bottom: 10px;
			z-index: 2;

			@include breakpoint(medium){
				left: 90px;
				bottom: 30px;
			}

			p{
				text-transform: uppercase;
				font-weight: 700;
				color: white;
				white-space: pre-wrap;

				@include breakpoint(large){
					font-size:  40px;
				}
			}
		}
		

		.blue-fill{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
		}

		.blue-image{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 2;
			background-size: cover;
		}

		&.blue-tint{
			.blue-fill{
				background-color: $deep-blue;
			}

			.blue-image{
				opacity: 0.2;
				mix-blend-mode: luminosity;
			}
		}
	}
}

.block-content-dark-bar{

	@include breakpoint(large){
		margin-top: -30px;
	}

	.wrapper{
		padding: 30px;
		background-color: $dark-grey;

		@include breakpoint(large){
			padding: 120px 0px 120px 120px;
			width: calc(100% -120px);
		}

		p{
			color: white;

			@include breakpoint(large){
				font-size: 25px;
			}

			&:last-child{
				margin-bottom: 0px;
			}
		}
	}
}

.block-testimonial{
	padding: 30px 0;

	@include breakpoint(large){
		padding: 60px 0;
	}

	.container{

		@include breakpoint(large){
			max-width: 60%;
		}
	}

	.slide{
		display: flex;
		flex-direction: column;

		@include breakpoint(large){
			flex-direction: row;
		}

		.test-image{
			margin-bottom: 30px;

			@include breakpoint(large){
				margin-bottom: 0px;
				width: 40%;
			}
		}

		.test-content{
			@include breakpoint(large){
				width: 60%;
				padding-left: 60px;
			}
		}
	}

	.swiper-pagination{
		text-align: center;
		margin-top: 30px;
		display: flex;

		.swiper-pagination-bullet{
			width: 10px;
			height: 10px;
			margin: 0 5px;
		}
	}

	img{
		width: 100%;
	}
}

.block-hero-overlap{
	padding: 30px 0;

	@include breakpoint(large){
		padding: 150px 0;
	}

	.row{
		display: flex;
		position: relative;
		align-items: center;

		.content{
			position: relative;
			z-index: 1;
			padding: 0 60px;

			p{
				max-width: 800px;

				@include breakpoint(large){
					font-size: 25px;
				}
			}
			

			@include breakpoint(large){
				text-align: left;
				padding: 0px;
			}
		}

		.box-image{		
			z-index: 0;
			margin-top: -112px;
			position: relative;
			z-index: 0;

			&:before{
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(255,255,255,0.25);
				z-index: 1;
			}

			@include breakpoint(large){
				position: absolute;
				right: 0;
				margin-top: 0px;
			}
		}
	}
}

.block-accordion{
	padding: 30px 0;

	@include breakpoint(large){
		padding: 60px 0;
	}

	.wrapper{
		padding: 30px;
		background-color: $dark-grey;
		width: 100%;
		position: relative;

		@include breakpoint(large){
			padding: 120px 0px 120px 120px;
			width: calc(100% -120px);
		}

		img{
			width: 100%;
		}

		h3, h5, p{
			color: white;
		}

		h3{
			text-transform: uppercase;
		}

		.right-image{
			position: absolute;
			width: 40%;
			top: 0;
			right: 0;
			bottom: 0;
			background-size: cover;
			// padding-left: 60px;
			display: none;

			@include breakpoint(large){
				display: block;
			}
		}

		.accordion{
			background-color: transparent;

			@include breakpoint(large){
				padding-right: 60px;
			}
			
			.accordion-item{
				padding-bottom: 10px;
				padding-top: 10px;
				border-bottom: 1px solid #333;
				color: white;

				.fas{
					color: $teal;
				}

				.accordion-title{
					display: flex;
					justify-content: space-between;
					align-items: center;
					border: 0px;
					background-color: transparent;
					padding: 0px;
					position: relative;

					h5{
						padding: 0px;
						margin: 0px;
					}

					&:before{
						font-family: "Font Awesome 5 Free";
						font-weight: 900;
						content: '\f067';
						color: $teal;
						font-size: 25px;
						position: absolute;
						top: 50%;
						right: 0px;
						transform: translateY(-50%);
						margin-top: 0px;
					}
				}

				&.is-active{
					.accordion-title{
						&:before{
						    content: '\f068';
						}
					}
				}

				.accordion-content{
					background-color: transparent;
					color: white;
					border: none;
					padding: 0 0 10px 0;

					&.open{
						display: flex;
					}
				}

			}
		}

	}
}

.block-press-releases{
	padding: 60px 0;

	.press-release{
		padding: 30px 0;
		border-bottom: 1px solid $grey;

		a{
			font-weight: 700;
			color: $deep-blue;
		}
	}
}

.block-events{
	.date{
		color: $deep-blue;
		font-weight: 700;
	}
}

.block-contact-form{
	padding: 30px 0;

	@include breakpoint(large){
		margin-top: -30px;
		padding-bottom: 60px;
	}

	.wrapper{
		background-color: $dark-grey;
		padding: 30px;
		width: 100%;

		@include breakpoint(large){
			padding: 120px 0px 120px 120px;
			width: calc(100% -120px);
		}	

		h2, h3, h5, p{
			color: white;
		}

		.form-wrapper{

			@include breakpoint(large){
				padding-right: 120px;
			}

			label{
				color: white;
				font-weight: 100;

				@include breakpoint(large){
					font-size: 25px;
				}
			}

			.gform_fields{
				display: flex;
				flex-wrap: wrap;
			}

			.gfield{
				margin: 0px !important;
				width: 100%;

				&.w50{
					@include breakpoint(large){
						width: 50%;
					}
				}
			}

			.ginput_container{
				// border: 1px solid white;
				// border-radius: 6px;
				// margin-bottom: 15px;

				input[type=text], .gfield_select, textarea{
					width: 100% !important;
					// background-color: transparent !important;
					// border: none !important;
					box-shadow: none;
					// color: white;
					border-radius: 4px;
					// margin: 0px !important;

					@include breakpoint(large){
						font-size: 25px !important;
					}

					&::placeholder{

						@include breakpoint(large){
							font-size: 25px
						}
					}
				}
			}

			.gfield_checkbox{
				li{
					display: flex;
					align-items: center;

					input{
						margin-top: 0px !important;
						margin-bottom: 0px;
						margin-right: 20px;
					}

					label{
						font-size: 20px;
					}
				}
			}

			.gform_button{
				background-color: white;
				color: $deep-blue;
				display: block;
				text-transform: uppercase;
				border-radius: 100px;
				font-weight: 700;
				margin-top: 30px;

				@include breakpoint(large){
					font-size: 25px;
				}
			}

			.gform_confirmation_message{
				color: white;
				font-size: 30px;
				font-weight: 400;
			}
		}
	}
}

.block-team{
	.headline{
		margin-bottom: 30px;

		@include breakpoint(large){
			text-align: center;
			max-width: 80%;
			margin: 0 auto 60px auto;
		}

		p{
			@include breakpoint(large){
				font-size: 25px;
			}
		}
	}

	.team{
		@include breakpoint(large){
			justify-content: center;
		}
	}
}













