.footer-cta {
  height: 450px;
}

.connect-sticky{
	position: fixed;
	bottom: 60px;
	right: 60px;
	z-index: 10;

	.btn{
		background-color: white;
		color: $deep-blue;
		box-shadow: $box-shadow;
	}
}

footer {
	padding: 60px 0;
	background-color: $dark-grey;
	color: white;

	p, a{
		color: white;
	}

	a:hover{
		color: $teal;

	}

	.wrapper{
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		@include breakpoint(large){
			flex-direction: row;
		}

		.left{
			display: flex;
			flex-direction: column;

			@include breakpoint(large){
				flex-direction: row;
			}

			.logo{
				img{
					max-width: 150px;
				}

				@include breakpoint(large){
					margin-right: 60px;

					img{
						max-width: 220px;
					}
				}
			}

			ul{
				flex-direction: column;
				padding: 30px 0;

				li{
					border-bottom: 1px solid rgba(256,256,256,0.15);

					a{
						padding-left: 0px;
					}

					&:last-child{
						border-bottom: none;
					}
				}

				@include breakpoint(large){
					padding: 0px 30px;

					li{
						border-bottom: none;
					}
				}
			}
		}

		.social{
			text-align: center;

			@include breakpoint(large){
				text-align: right;
			}

			.menu{
				justify-content: center;

				@include breakpoint(large){
					justify-content: flex-end;
				}
			}
		}
		
	}

	#menu-social-links{
		li{
			position: relative
			;
			&.fab{
				&:before{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 0;
				}

				font-size: 30px;
			}

			&.fa-glassdoor:before {
				content: '';
			    width: 26.25px;
			    height: 30px;
			    background-image: url('../images/logos/glassdoor-logo.png');
			    background-size: contain;
			    background-repeat: no-repeat;
			    background-position: center center;
			}
			&.fa-glassdoors:before {
				content: '';
			    width: 26.25px;
			    height: 30px;
			    background-image: url('../images/logos/glassdoor-green.png');
			    background-size: contain;
			    background-repeat: no-repeat;
			    background-position: center center;
			}
			a{
				color: transparent;
				position: relative;
				z-index: 1;
			}
		}
	}
}