
body {
  color: $dark-grey;
  font-family: $font-rh;
  font-size: 16px;
}

h2{
	font-weight: 700;

  @include breakpoint(large){
    font-size: 75px;
  	line-height: 83px;
  }
}

h3{
  font-weight: 700;

  @include breakpoint(large){
  	font-size: 50px;
  }

	&.headline{
		text-transform: uppercase;
	}
}

h5{

  @include breakpoint(large){
  	font-size: 25px;
  }
}

h5, p{
  font-weight: 400;
  font-family: $font-rh;
}

a.btn,
.wp-block-button__link{
	color: white;
	background-color: $dark-grey;
	border-radius: 100px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 10px 20px;
	font-size: 20px;
}

.tm{
  display: inline-flex;
  font-size: 50%;
  transform: translateY(-25%);
}

.ratio{
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ratio-1x1:before{
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.ratio-2x1:before{
  display: block;
  content: "";
  width: 100%;
  padding-top: 50%;
}

.ratio-3x4:before{
  display: block;
  content: "";
  width: 100%;
  padding-top: 133.33%;
}

.ratio-4x3:before{
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}

.ratio-4x5:before{
  display: block;
  content: "";
  width: 100%;
  padding-top: 125%;
}

.ratio-6x7:before{
  display: block;
  content: "";
  width: 100%;
  padding-top: 116.66%;
}

.ratio-16x9:before{
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}

figure.ratio,
figure.wp-block-image{
  border-radius: $border-radius;
  overflow: hidden;
}

.pop-modal{
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: perspective(1px) translate3d( -50%, -50%, 0);
  backface-visibility: hidden;

  box-shadow: $box-shadow;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s $ease;
  width: 90%;
  max-height: 90vh;
  overflow: hidden;

  &:before{
    content: '';
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    z-index: 2;

  }

  &:after{
    content: '';
    height: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    z-index: 2;

  }

  @include breakpoint(medium){
    width: 50%;
    max-height: 80vh;
  }

  .close-modal{
    border-radius: 100px;
    padding: 4px;
    max-width: 30px;
    max-height: 30px;
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 10px;
    background-color: white;
    cursor: pointer;

    .close-icon{
      height: 20px;
      width: 20px;
      border-radius: 100px;
      transform: rotate(45deg);
      transform-origin: center center; 
      display: inline-block;
      position: relative;

      &:before{
        content: '';
        width: 100%;
        height: 1px;
        background-color: $grey;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &:after{
        content: '';
        width: 1px;
        height: 100%;
        background-color: $grey;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .details{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 30px;
    max-height: 90vh;

    @include breakpoint(medium){
      max-height: 80vh;
    }
  }

  &.show{
    visibility: visible;
    opacity: 1;
  }

  .post-modal{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(medium){
      flex-direction: row;
      align-items: flex-start;
    }

    .blog-image{
      width: 50%;
      margin-bottom: 30px;

      @include breakpoint(medium){
        width: 40%;
        margin-bottom: 0px;
      }
    }

    .blog-details{
      width: 100%;
      padding-left: 0px;
      margin-top: -7px;
      text-align: center;

      @include breakpoint(large){
        width: 60%;
        padding-left: 70px;
        text-align: left;
      }
    }

    h1{
      margin-bottom: 20px !important;
    }

    h2{
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 20px;
    }

    p{
      &:last-child{
        margin: 0;
        padding: 0;
      }
    }
  }
}

.modal-data{
  display: none;
}

.modal-bg{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  display: none;
  z-index: 99;

  &.show{
    display: block;
  }
}

/* glow*/

@keyframes glow {
  from {
    text-shadow: 0 0 20px white;
  }
  to {
    text-shadow: 0 0 30px $light-yellow, 0 0 10px $pink;
  }
}


/*glitch*/

.glitch-wrapper {
  height: 100%;
  display: -webkit-box;
  display: inline-flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.glitch {
  color: white;
  position: relative;
  display: inline-block;
  animation: glow 2s ease-in-out infinite alternate;
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: $deep-blue;
}
.glitch::before {
  display: none;
  left: 3px;
  text-shadow: -3px 0 #49FC00;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 4s infinite linear alternate-reverse;
}
.glitch::after {
  display: none;
  left: -3px;
  text-shadow: -3px 0 #b300fc;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 3s infinite linear alternate-reverse;

}
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(95px, 9999px, 95px, 0);
  }
  4.166666666666666% {
    clip: rect(104px, 9999px, 109px, 0);
  }
  8.333333333333332% {
    clip: rect(124px, 9999px, 2px, 0);
  }
  12.5% {
    clip: rect(39px, 9999px, 40px, 0);
  }
  16.666666666666664% {
    clip: rect(140px, 9999px, 21px, 0);
  }
  20.833333333333336% {
    clip: rect(3px, 9999px, 141px, 0);
  }
  25% {
    clip: rect(118px, 9999px, 137px, 0);
  }
  29.166666666666668% {
    clip: rect(27px, 9999px, 146px, 0);
  }
  33.33333333333333% {
    clip: rect(136px, 9999px, 125px, 0);
  }
  37.5% {
    clip: rect(123px, 9999px, 56px, 0);
  }
  41.66666666666667% {
    clip: rect(34px, 9999px, 89px, 0);
  }
  45.83333333333333% {
    clip: rect(16px, 9999px, 102px, 0);
  }
  50% {
    clip: rect(114px, 9999px, 48px, 0);
  }
  54.166666666666664% {
    clip: rect(89px, 9999px, 100px, 0);
  }
  58.333333333333336% {
    clip: rect(83px, 9999px, 65px, 0);
  }
  62.5% {
    clip: rect(114px, 9999px, 34px, 0);
  }
  66.66666666666666% {
    clip: rect(83px, 9999px, 77px, 0);
  }
  70.83333333333334% {
    clip: rect(57px, 9999px, 128px, 0);
  }
  75% {
    clip: rect(78px, 9999px, 102px, 0);
  }
  79.16666666666666% {
    clip: rect(38px, 9999px, 16px, 0);
  }
  83.33333333333334% {
    clip: rect(18px, 9999px, 71px, 0);
  }
  87.5% {
    clip: rect(61px, 9999px, 39px, 0);
  }
  91.66666666666666% {
    clip: rect(139px, 9999px, 98px, 0);
  }
  95.83333333333334% {
    clip: rect(48px, 9999px, 122px, 0);
  }
  100% {
    clip: rect(38px, 9999px, 96px, 0);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(95px, 9999px, 95px, 0);
  }
  4.166666666666666% {
    clip: rect(104px, 9999px, 109px, 0);
  }
  8.333333333333332% {
    clip: rect(124px, 9999px, 2px, 0);
  }
  12.5% {
    clip: rect(39px, 9999px, 40px, 0);
  }
  16.666666666666664% {
    clip: rect(140px, 9999px, 21px, 0);
  }
  20.833333333333336% {
    clip: rect(3px, 9999px, 141px, 0);
  }
  25% {
    clip: rect(118px, 9999px, 137px, 0);
  }
  29.166666666666668% {
    clip: rect(27px, 9999px, 146px, 0);
  }
  33.33333333333333% {
    clip: rect(136px, 9999px, 125px, 0);
  }
  37.5% {
    clip: rect(123px, 9999px, 56px, 0);
  }
  41.66666666666667% {
    clip: rect(34px, 9999px, 89px, 0);
  }
  45.83333333333333% {
    clip: rect(16px, 9999px, 102px, 0);
  }
  50% {
    clip: rect(114px, 9999px, 48px, 0);
  }
  54.166666666666664% {
    clip: rect(89px, 9999px, 100px, 0);
  }
  58.333333333333336% {
    clip: rect(83px, 9999px, 65px, 0);
  }
  62.5% {
    clip: rect(114px, 9999px, 34px, 0);
  }
  66.66666666666666% {
    clip: rect(83px, 9999px, 77px, 0);
  }
  70.83333333333334% {
    clip: rect(57px, 9999px, 128px, 0);
  }
  75% {
    clip: rect(78px, 9999px, 102px, 0);
  }
  79.16666666666666% {
    clip: rect(38px, 9999px, 16px, 0);
  }
  83.33333333333334% {
    clip: rect(18px, 9999px, 71px, 0);
  }
  87.5% {
    clip: rect(61px, 9999px, 39px, 0);
  }
  91.66666666666666% {
    clip: rect(139px, 9999px, 98px, 0);
  }
  95.83333333333334% {
    clip: rect(48px, 9999px, 122px, 0);
  }
  100% {
    clip: rect(38px, 9999px, 96px, 0);
  }
}
@-webkit-keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(66px, 9999px, 81px, 0);
  }
  10% {
    clip: rect(30px, 9999px, 84px, 0);
  }
  13.333333333333334% {
    clip: rect(110px, 9999px, 55px, 0);
  }
  16.666666666666664% {
    clip: rect(6px, 9999px, 58px, 0);
  }
  20% {
    clip: rect(45px, 9999px, 56px, 0);
  }
  23.333333333333332% {
    clip: rect(85px, 9999px, 140px, 0);
  }
  26.666666666666668% {
    clip: rect(21px, 9999px, 100px, 0);
  }
  30% {
    clip: rect(96px, 9999px, 115px, 0);
  }
  33.33333333333333% {
    clip: rect(7px, 9999px, 40px, 0);
  }
  36.666666666666664% {
    clip: rect(131px, 9999px, 134px, 0);
  }
  40% {
    clip: rect(73px, 9999px, 116px, 0);
  }
  43.333333333333336% {
    clip: rect(66px, 9999px, 12px, 0);
  }
  46.666666666666664% {
    clip: rect(124px, 9999px, 15px, 0);
  }
  50% {
    clip: rect(31px, 9999px, 67px, 0);
  }
  53.333333333333336% {
    clip: rect(114px, 9999px, 100px, 0);
  }
  56.666666666666664% {
    clip: rect(138px, 9999px, 33px, 0);
  }
  60% {
    clip: rect(126px, 9999px, 36px, 0);
  }
  63.33333333333333% {
    clip: rect(42px, 9999px, 58px, 0);
  }
  66.66666666666666% {
    clip: rect(92px, 9999px, 128px, 0);
  }
  70% {
    clip: rect(141px, 9999px, 10px, 0);
  }
  73.33333333333333% {
    clip: rect(116px, 9999px, 32px, 0);
  }
  76.66666666666667% {
    clip: rect(69px, 9999px, 129px, 0);
  }
  80% {
    clip: rect(49px, 9999px, 59px, 0);
  }
  83.33333333333334% {
    clip: rect(83px, 9999px, 100px, 0);
  }
  86.66666666666667% {
    clip: rect(46px, 9999px, 62px, 0);
  }
  90% {
    clip: rect(63px, 9999px, 27px, 0);
  }
  93.33333333333333% {
    clip: rect(69px, 9999px, 14px, 0);
  }
  96.66666666666667% {
    clip: rect(130px, 9999px, 54px, 0);
  }
  100% {
    clip: rect(147px, 9999px, 126px, 0);
  }
}
@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(66px, 9999px, 81px, 0);
  }
  10% {
    clip: rect(30px, 9999px, 84px, 0);
  }
  13.333333333333334% {
    clip: rect(110px, 9999px, 55px, 0);
  }
  16.666666666666664% {
    clip: rect(6px, 9999px, 58px, 0);
  }
  20% {
    clip: rect(45px, 9999px, 56px, 0);
  }
  23.333333333333332% {
    clip: rect(85px, 9999px, 140px, 0);
  }
  26.666666666666668% {
    clip: rect(21px, 9999px, 100px, 0);
  }
  30% {
    clip: rect(96px, 9999px, 115px, 0);
  }
  33.33333333333333% {
    clip: rect(7px, 9999px, 40px, 0);
  }
  36.666666666666664% {
    clip: rect(131px, 9999px, 134px, 0);
  }
  40% {
    clip: rect(73px, 9999px, 116px, 0);
  }
  43.333333333333336% {
    clip: rect(66px, 9999px, 12px, 0);
  }
  46.666666666666664% {
    clip: rect(124px, 9999px, 15px, 0);
  }
  50% {
    clip: rect(31px, 9999px, 67px, 0);
  }
  53.333333333333336% {
    clip: rect(114px, 9999px, 100px, 0);
  }
  56.666666666666664% {
    clip: rect(138px, 9999px, 33px, 0);
  }
  60% {
    clip: rect(126px, 9999px, 36px, 0);
  }
  63.33333333333333% {
    clip: rect(42px, 9999px, 58px, 0);
  }
  66.66666666666666% {
    clip: rect(92px, 9999px, 128px, 0);
  }
  70% {
    clip: rect(141px, 9999px, 10px, 0);
  }
  73.33333333333333% {
    clip: rect(116px, 9999px, 32px, 0);
  }
  76.66666666666667% {
    clip: rect(69px, 9999px, 129px, 0);
  }
  80% {
    clip: rect(49px, 9999px, 59px, 0);
  }
  83.33333333333334% {
    clip: rect(83px, 9999px, 100px, 0);
  }
  86.66666666666667% {
    clip: rect(46px, 9999px, 62px, 0);
  }
  90% {
    clip: rect(63px, 9999px, 27px, 0);
  }
  93.33333333333333% {
    clip: rect(69px, 9999px, 14px, 0);
  }
  96.66666666666667% {
    clip: rect(130px, 9999px, 54px, 0);
  }
  100% {
    clip: rect(147px, 9999px, 126px, 0);
  }
}