header{
	position: relative;	
	z-index: 10;

	nav{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 15px;
	    padding-bottom: 15px;
	    padding-right: 15px;
	    padding-left: 15px;

		@include breakpoint(medium){
			padding-right: 80px;
			padding-left: 80px;
		}

		.nav-left{
			display: flex;
			align-items: center;

			.logo{
				margin-right: 30px;
				display: flex;
				flex-direction: column;
				align-items: flex-end;

				img{
					max-width: 150px;
				}

				@include breakpoint(large){
					img{
						max-width: 220px;
					}
				}

				.beta{
					color: white;
					font-weight: 700;
					text-transform: uppercase;	
					margin-top: -5px;
					font-size: 8px;
					padding-right: 3.5px;

					@include breakpoint(large){
						font-size: 11px;
						padding-right: 4px;
					}
				}
			}

			li:not(.btn){

				&.menu-item-has-children{
					position: relative;

					
					&:hover{
						a{
							background-color: white;
							color: $dark-grey;

							&:after{
					      		background-color: $dark-grey;
					      	}
						}

						.sub-menu{
							display: flex;
							flex-direction: column;
						}
					}

					.sub-menu{
						position: absolute;
						list-style: none;
						margin: 0px;
						padding: 10px 0px;
						background-color: white;
						display: none;

						a{
							white-space: nowrap;
							color: $dark-grey;
						}
					}
				}

		 		a{
		 			color: white;
		 			position: relative;

			 		&:after{
			      		content: '';
			      		height: 2px;
			      		position: absolute;
			      		left: 50%;
			      		right: 50%;
			      		bottom: 5px;
			      		background-color: white;
			      		transition: all .15s $ease;
			      	}

				    @include breakpoint(medium){
				      &:hover{
				      	&:after{
				      		left: 15px;
				      		right: 15px;
				      	}
				      }
				    }
		 		}
		 		
		 		&.current_page_item{
			 		a{
			 			&:after{
				      		left: 15px;
				      		right: 15px;
				      	}
			 		}

			 		.sub-menu{
			 			a{
			 				&:after{
			 					left: 50%;
			      				right: 50%;
			 				}

			 				@include breakpoint(medium){
						      &:hover{
						      	&:after{
						      		left: 15px;
						      		right: 15px;
						      	}
						      }
						    }
			 			}
			 		}
			 	}
		 	}
		}

		.logo-secondary{
			display: none;
		}

		a{
			font-size: 20px;
		}

		.nav-right{
			li{

				&.btn{
					a{
						display: block;
						text-transform: uppercase;
						background-color: #e6e6e6;
						border-radius: 100px;
						font-size: 16px;
						font-weight: 600;
					}
				}

				&.menu-item-has-children{
					position: relative;

					
					&:hover{
						a{
							background-color: white;
							color: $dark-grey;
							border-radius: 0px;

							&:after{
					      		background-color: $dark-grey;;
					      	}
						}

						.sub-menu{
							display: flex;
							flex-direction: column;
						}
					}

					.sub-menu{
						position: absolute;
						right: 0;
						list-style: none;
						margin: 0px;
						padding: 10px 0px;
						background-color: white;
						display: none;

						a{
							white-space: nowrap;
							color: $dark-grey;
						}
					}
				}

		 		a{
		 			position: relative;

			 		&:after{
			      		content: '';
			      		height: 2px;
			      		position: absolute;
			      		left: 50%;
			      		right: 50%;
			      		bottom: 5px;
			      		background-color: white;
			      		transition: all .15s $ease;
			      	}

				    @include breakpoint(medium){
				      &:hover{
				      	&:after{
				      		left: 15px;
				      		right: 15px;
				      	}
				      }
				    }
		 		}
		 		
		 		&.current_page_item{
			 		a{
			 			&:after{
				      		left: 15px;
				      		right: 15px;
				      	}
			 		}

			 		.sub-menu{
			 			a{
			 				&:after{
			 					left: 50%;
			      				right: 50%;
			 				}

			 				@include breakpoint(medium){
						      &:hover{
						      	&:after{
						      		left: 15px;
						      		right: 15px;
						      	}
						      }
						    }
			 			}
			 		}
			 	}
		 	}

			.mobile-btn{
				a{
					color: white;
					font-size: 30px;
				}
			}
		}
	}

	.page-template-template-dark-header &,
	&.dark{

		.nav-left{
			li:not(.nav-btn){
		 		a{
		 			color: $dark-grey;;

			 		&:after{
			      		background-color: $dark-grey;;
			      	}
		 		}
		 	}

		 	.logo{

		 		.beta{
		 			color: $dark-grey;
		 		}
		 	}
		}

		.nav-right{
			.mobile-btn{
				a{
					color: $dark-grey;
				}
			}

			li{

				&.btn{
					a{
						background-color: $deep-blue;
						color: white;	
					}
				}
			}
		}

		.logo-primary{
			display: none;
		}

		.logo-secondary{
			display: flex;
		}
	}

	.sticky-header &{
		padding-top: 133px;

		nav{
			position: fixed;
			top: -100%;
			width: 100%;
			z-index: 20;
			background-color: white;
			box-shadow: $box-shadow;

			&.show{
				top: 0px;
				transition: background-color .25s $ease, top .25s $ease;
			}

			.nav-left{
				li:not(.nav-btn){
			 		a{
			 			color: $dark-grey;;

				 		&:after{
				      		background-color: $dark-grey;;
				      	}
			 		}
			 	}

			 	.logo{
			 		img{
						max-width: 150px;
					}
			 		.beta{
			 			font-size: 8px;
						padding-right: 3.5px;
			 			color: $dark-grey;
			 		}
			 	}
			}

			.nav-right{
				.mobile-btn{
					a{
						color: $dark-grey;
					}
				}

				li{
					&.menu-item-has-children{
						&:hover{
							a{
								background-color: white;
								color: $dark-grey;
								border-radius: 0px;

								&:after{
						      		background-color: $dark-grey;;
						      	}
							}
						}

						.sub-menu{
							a{
								white-space: nowrap;
								color: $dark-grey;
							}
						}
					}

					&.btn{
						a{
							background-color: $deep-blue;
							color: white;	
						}
					}
				}
			}

			.logo-primary{
				display: none;
			}

			.logo-secondary{
				display: flex;
			}
		}
	}
}

body.open-mobile{
	height: 100vh;
	overflow: hidden;
}

.mobile-menu{
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: $deep-blue;
	color: white;
	z-index: -1;
	padding: 15px;
	display: flex;
	visibility: hidden;
	transform: translateY(-100%);
	transition: visibility .15s $ease, transform .15s $ease, z-index .25s $ease;

	.open-mobile &{
		top: 0;
		z-index: 100;
		flex-direction: column;
		transform: translateY(0);
		visibility: visible;
	}

	.nav-left{
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo{
			img{
				max-width: 150px;
			}
		}

		.mobile-btn{
			a{
				color: white;
				font-size: 30px;
			}
		}
	}

	ul{
		display: flex;
		flex-direction: column;
		margin-top: 30px;

		li{
			border-bottom: 1px solid rgba(256,256,256, 0.15);

			&:last-child{
				border-bottom: none;
			}

			a{
				color: white;
				padding-left: 0px;
				font-size: 30px;
			}

			&.menu-item-has-children{
				.sub-menu{
					margin: 0px;
					padding: 0px 20px;
					list-style: none;

					a{
						font-size: 20px;
					}
				}
			}
		}
	}
}




